<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>boolzap</title>

    <!--Importo Bootstrap ICONS-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">

    <!--Importo Bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

    <!--Foglio stile css-->
    <link rel="stylesheet" href="style.css">

    <!--Importo VUE JS-->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.4/dist/vue.js"></script>
</head>

<body>
    <div id="root">

        <div class="main-container d-flex p-3">

            <div id="left-main">

                <div id="user-name" class="d-flex justify-content-between align-items-center">
                    <div class="p-3 fs-6">
                        <img src="img/avatar_1.jpg" alt="">
                        <span>{{user.name}}</span>
                    </div>

                    <div class="d-flex px-3 fs-5">
                        <span>
                            <i class="bi bi-arrow-clockwise"></i>
                        </span>
                        <span>
                            <i class="bi bi-chat-left-fill mx-3"></i>
                        </span>
                        <span>
                            <i class="bi bi-three-dots-vertical"></i>
                        </span>
                    </div>

                </div>

                <div id="notification">

                </div>

                <div id="search-chats">

                    <input id="search-chats-input" type="text"
                        placeholder=" &#128269;     Cerca o inizia una nuova ricerca" value="" v-model="searched">

                </div>

                <div id="contacts">

                    <div class="contacts-card my-3" v-for="(contact,index) of contacts" @click="currentIndex = index" v-if="searched === contact.name[0]">

                        <img :src=" `img/avatar` + contact.avatar + `.jpg` " alt="">

                        <span class="ms-1">{{contact.name}}</span>
                    </div>



                </div>



            </div>


            <div id="right-main">

                <div id="bot-names" class="d-flex justify-content-between align-items-center">


                    <div class="p-3 fs-6">
                        <img :src=" `img/avatar` + contacts[currentIndex].avatar + `.jpg` " alt="">
                        <span>{{contacts[currentIndex].name}}</span>
                    </div>

                    <div class="d-flex px-3 fs-5">
                        <span>
                            <i class="bi bi-arrow-clockwise"></i>
                        </span>
                        <span>
                            <i class="bi bi-chat-left-fill mx-3"></i>
                        </span>
                        <span>
                            <i class="bi bi-three-dots-vertical"></i>
                        </span>
                    </div>

                </div>

                <div id="chat-box">


                    <div v-for="(message, index) in contacts[currentIndex].messages" class="my-3 w-100">

                        <div :class="message.status" class="d-flex">

                            <div id="message">
                                {{message.text}} <br> <small>{{message.date}}</small>
                            </div>

                        </div>


                    </div>





                </div>

                <div id="new-message" class="d-flex justify-content-between align-items-center p-2">

                    <span>
                        <i class="bi bi-emoji-smile fs-4"></i>
                    </span>

                    <input id="insert-message" type="text" placeholder="scrivi un messaggio" v-model=inputText
                        v-on:keyup.enter= "addMessage(); answer()">

                    <span>

                        <i class="bi bi-mic-fill fs-4"></i>

                    </span>

                </div>



            </div>



        </div>
    </div>

    </div>



    <!--collego Javascript-->
    <script src="script.js"></script>
</body>

</html>