
img {
    max-height: 100%;
}

body {
    background-color: #7CB9E8;
    /*to remove*/
}

.main-container {
    margin: 0 auto;
    width: 80%;
}

#left-main{
    width: 35%;
    height: 800px;
    background-color: blue;
    border-right: 1px rgb(54,84,254) solid; 
}

#right-main{
    width: 65%;
    height: 800px;
    background-color: chartreuse;
}

#user-name{
width: 100%;
height: 60px;
background-color: rgb(234,234,234);

}

#user-name img{
border-radius: 50%;
width: 16%;
}

#bot-names{
height: 60px;
width: 100%;
background-color: rgb(234,234,234);
}

#bot-names img{
border-radius: 50%;
width: 8%;
}

#notification {
height: 90px;
width: 100%;
background-color: rgb(142,218,251) ;
}

#search-chats {
    height: 70px;
    width: 100%;
    background-color: rgb(250,250,250);
    padding: 20px

}

#search-chats-input {
    width: 100%;
}

#contacts {
    width: 100%;
    height: 580px;
    background-color: rgb(255,255,255);
    padding: 20px;
    overflow-y: scroll;
}

#contacts img{
    width: 15%;
    border-radius: 50%;
}



#chat-box {
    width: 100%;
    height: 660px;
    background-image: url(img/mine.jpg);
    overflow-y: scroll;
    padding: 20px;
}

.useruser-message-left {
    background-color: rgb(255,255,255)
}

.useruser-message-right {
    background-color: rgb(213,249,186);
}

#new-message {
    height: 80px;
    width: 100%;
    background-color:rgb(243,238,233);
}

#insert-message {
    height: 50%;
    width: 80%;
}


