
img {
    max-height: 100%;
}

body {
    background-image: linear-gradient(to bottom, rgb(1,150,136) 15%, rgb(219,219,211) 15%, rgb(219,219,211) 100%);
}

.main-container {
    margin: 0 auto;
    width: 80%;
}

#left-main{
    width: 35%;
    height: 800px;
    background-color: blue;
    border-right: 1px rgb(54,84,254) solid; 
}

#right-main{
    width: 65%;
    height: 800px;
    background-color: chartreuse;
}

#user-name{
width: 100%;
height: 60px;
background-color: rgb(234,234,234);

}

#user-name img{
border-radius: 50%;
width: 16%;
}

#bot-names{
height: 60px;
width: 100%;
background-color: rgb(234,234,234);
}

#bot-names img{
border-radius: 50%;
width: 8%;
}

#notification {
height: 90px;
width: 100%;
background-color: rgb(142,218,251) ;
}

#search-chats {
    height: 70px;
    width: 100%;
    background-color: rgb(250,250,250);
    padding: 20px

}

#search-chats-input {
    width: 100%;
}

#contacts {
    width: 100%;
    height: 580px;
    background-color: rgb(255,255,255);
    padding: 20px;
    overflow-y: scroll;
}

#contacts img{
    width: 15%;
    border-radius: 50%;
}

.contacts-card:hover {
    background-color: rgb(232,235,235);
    cursor: pointer;
}



#chat-box {
    width: 100%;
    height: 660px;
    background-image: url(img/mine.jpg);
    overflow-y: scroll;
    padding: 40px;
}

.message-container {
    width: 100%;
    display: flex;
}

.message-container.received {
    justify-content: flex-start;
}

.message-container.sent {
    justify-content: flex-end;
}

/*Se ha classe active è visibile e flexa i messaggi come deve
quindi la classe active andrà generata dinamicamente in js*/
.active{
    display: flex;
}


#user-message {
    min-height: 20px;
    border-radius: 7%;
    background-color: rgb(213,249,186);
    width: 60%;
    padding: 10px;
}


#contact-message {
    min-height: 20px;
    width: 60%;
    background-color: rgb(255,255,255);
    border-radius: 7%;
    padding: 10px;
}


#new-message {
    height: 80px;
    width: 100%;
    background-color:rgb(243,238,233);
}

#insert-message {
    height: 50%;
    width: 80%;
}


